@font-face {
    font-family: 'Jersey';
    src: url(resources/fonts/Jersey25-Regular.ttf);
}

@font-face {
    font-family: 'Cabin';
    src: url(resources/fonts/Cabin/Cabin-VariableFont_wdth\,wght.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Cabin';
    font-size: 18px;
    background-color: rgb(18, 18, 18);
    color: #e2e8f0;
}

header {
    text-align: center;
    font-size: 60px;
    display: block;
    background-color: #303030b3;
    font-family: 'Jersey';
    margin-bottom: 2%;
    height: 70px;
}

h1 {
    margin: 0;
    text-align: center;
}

h2 {
    font-weight: bold;
    color: #0ceca5;
}

a {
    color:#0ceca5;
}

p {
    text-align: justify;
}

article {
    max-width: 1000px;
    margin: 1% auto;
    background-color: rgb(48, 48, 48, 0.7);
    display: block;
    padding: 1%;
    border-radius: 10px;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 800px;

}

.code {
    background-color: #141414;
    padding: 2px 4px;
    font-family: monospace;
    border-radius: 3px;
    color: #0ceca5;
}

pre {
    white-space: pre-wrap;
    word-break: break-word;
}

.post_title {
    font-size: 150%;
    font-weight: bold;
    color: #0ceca5;
    text-decoration: none;
}

@media (max-width: 767px) {
    img {
        max-width: 400px;
    }

    article {
        margin: 5%;
        padding: 15px;
    }

    header {
        font-size: 35px;
        height: 45px;
        margin-bottom: 5%;
    }
}
