@font-face {
    font-family: 'Jersey';
    src: url(fo);
}


a{
    color: rgb(0, 68, 177);

}


/* 
    IMPORTANTE: 
    Cuando vayan a cambiar el tamaño de algo usen porcentajes en vez de pixeles, para que se adapte 
    mejor en el telefono 
*/

body {
    font-family: 'Lexend';
    font-size: 130%;
    background-color: rgb(18, 18, 18);
    color: #e2e8f0;
}

p {
    text-align: justify;
} 

h1 {
    font-family:'Lexend-bold' ;
    text-align: center;
    font-weight: 500;
}
h2 {
    font-weight: bold;
}

/* Es una clase para estilizar todo el codigo html mostrado en la pagina. Usar: &lt;etiqueta&gt;
para escribir las etiquetas*/
.code {
    background-color: #252424; 
    padding: 2px 4px; 
    font-family: monospace; 
    border-radius: 3px; 
    color: white;
}

html, body {
    overflow-x: hidden; /* Esto hace que no te puedas mover hacia los lados en la pagina de telefono */
    box-sizing: border-box;
    margin: 1%;
}

pre {
    white-space: pre-wrap;
    word-break: break-word;
}



article {
    background-color: rgb(48, 48, 48, 0.7);
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 20px;
    backdrop-filter: blur(8px);
}

#atriglo {
    margin-bottom: 5%;
}

.post_title {
    font-size: 150%;
    font-weight: bold;
    color: #e2e8f0;
    text-decoration: none; /* Quita el subrayado del titulo */
}